<article class="section" *ngFor="#post of posts">
  <header>
    <h4><a [routerLink]="['../PostPage', { id: post.id }]">{{ post.title.rendered }}</a></h4>
  </header>

  <section [excerpt]="post.content.rendered"></section>

  <section class="grey-text">
    <div *ngIf="post.tags">
      <i class="material-icons tiny">label</i>
        <span *ngFor="#tag of post.tags; #last = last">
          <a href="#">{{ tag.name }}</a><span *ngIf="!last">,</span>
        </span>
    </div>
    <div>
      <i class="material-icons tiny">date_range</i> {{ post.date }} -
      <i class="material-icons orange-text text-darken-1 tiny">update</i> {{ post.modified }}
    </div>
  </section>

  <div class="divider"></div>
</article>

<pagination class="center-align"
            *ngIf="posts"
            [activePage]="activePage"
            (changePage)="loadPage($event)"
            [totalPages]="wp.posts.totalPages">
</pagination>
